<label>Server Name</label>
<!-- <input type="text"
    class="form-control"
    (input)="onUpdateServer($event)"> -->
    <input type="text"
        class="form-control"
        [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">Server Was Created Name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<label>Username</label>
<input type="text" 
    class="form-control" 
    [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary" 
    [disabled]="username === ''"
    (click)="username = ''">Make it Empty</button>
<hr>
<!-- <button class="btn btn-primary" (click)="showSecret =!showSecret">Displat Details</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()">Displat Details</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div 
    *ngFor="let logItem of log; let i = index"
    [ngStyle]="{backgroundColor: i >=4 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >=4}"
    >{{logItem}} {{index}}</div>